.article{
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-top: 24px;
    margin-bottom: 67px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    flex: 1;

    .article__body{


        padding: 15px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.75);
    }
}